<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header>
   
        <nav class="barranav">

        <ul type="nome">
            
            <li><a href="/cursos">cursos</a></li>
            <li><a href="/contacto">contacto</a></li>
            <li><a href="/nosotros">nosotros</a></li>
            <li><a href="/Registro">registro</a></li>
            <li><a href="/login">login</a></li>
        </ul>
       
    </nav>
</header>
   

    <h1></h1>
    
</body>
</html>